
@{
    ViewBag.Title = "Ha ocurrido un error en tu pago";
}
<br />
<h3>Ha ocurrido un error en tu pago</h3>
<br />

<table>
    <tr>
        <td>OCC:</td>
        <td>@ViewBag.Occ</td>
    </tr>

    <tr>
        <td>Número de carro:</td>
        <td>@ViewBag.ExternalUniqueNumber</td>
    </tr>
    <tr>
        <td>Status:</td>
        <td>@ViewBag.Status</td>
    </tr>
</table>
